* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}


header {
    margin-bottom: 15px;
}

header img {
    width: 31px;
    height: 31px
}

header .logo {
    font-family: 'Just Me Again Down Here', cursive;
    display: flex;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bolder;
}

.busca input {
    border-radius: 5px;
    height: 30px;
    background-color: #D9D9D9;
    outline: none;
    border: none;
    width: 85%;
}

.busca {
    width: 30%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-link{
   transition: 0.5 ease;

}

.nav-link:hover{
    color: black;
}

.hamburguer{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width:768px) {
    .hamburguer{
        display: block;
    }

    .hamburguer.active .bar:nth-child(2){
        opacity:0 ;
    }
    .hamburguer.active .bar:nth-child(1){
        transform: translateY(8pxpx) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
    }
}

.busca button {
    background-color: #D9D9D9;
    align-items: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #452E9F;
}

.logo img {
    width: 76px;
    height: 70px;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #452E9F;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 15%;
    justify-content: space-around;
}

@media (max-width: 310px) {
    header .logo p {
        display: none;
    }
}


.logo img {
    width: 50px;
    height: 50px;
}

.busca {
    width: 50%;
}

header .logo {
    font-size: small;
}

header button img {
    height: 20px;
    width: 20px;
}