@import url(https://fonts.googleapis.com/css?family=Raleway);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body,html{
    width: 100vw;
    height: 100vh;
}

header{
    margin-bottom: 15px;
}

header img{
    width: 31px;
    height: 31px
}

.logo{
    font-family: 'Just Me Again Down Here', cursive;
    display: flex;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bolder;
}

.busca input{
    border-radius: 5px;
    height: 30px;
    background-color: #D9D9D9;
    outline: none;
    border: none;
    width: 85%;
}

.busca{
    width: 30%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.busca button{
    background-color: #D9D9D9;
    align-items: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #452E9F;
}

.logo img{
    width: 76px;
    height: 70px;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color:#452E9F ;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 15%;
  justify-content: space-around;
}

.menu > li {
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}






@media (max-width: 700px) {
    /* 
    Responsividade do cabeçalho para telas de apartir de 700px
    */


  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid black;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: rgba(69,	46,	159, 0.97);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #222;
  }

  .logo img{
    width: 50px;
    height: 50px;
}

.busca{
    width: 50%;
}
    /* 
    Responsividade do cabeçalho para telas de apartir de 700px
    */
}

footer{
    width: 100%;
    background-color:#452E9F;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    height: 113px;
    align-items: center;
}

footer img{
    width: 76px;
    height: 70px;
}

footer nav p {
    font-family: 'Great Vibes', cursive 'Inter', sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: large;
}

footer nav{
    width: 8%;
}

footer nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

footer nav ul li img{
    width: 36px;
    height: 36px;
}