@import './variables';

@mixin logoFonte{
    font-family: 'Just Me Again Down Here', cursive;
    font-size: x-large;
    font-weight: bolder;
    text-transform: uppercase;
}

@mixin formFonte{
    font-family: inter;
    font-weight: 200;
    font-size:medium;
}

@mixin botaoDefault {   
    button{
        width: 6.25rem;
        height: 2.1875rem;
        border-radius: 5px;
        border: 1px;
        font-family: inter;
        background-color: $roxo-do-site;
        font-weight: 400;
        color: white;
        cursor: pointer;
    }
    
}

@mixin links{
    color: black;
    text-decoration: none;
}