main{
    button{
        @include botaoDefault;
    }
    .d__flex-mostruario{
        // display flex pra trabalhar a responsividade do mostruario 
        display: flex;
        justify-content: center;
        margin-top: 5%;
        flex-wrap: wrap;

        .card{

            margin: 0 20px 0 20px;

            .card__img{
                //config dos cards da primeira seção 
                @include cardVizual;
                img{
                    margin: auto;
                    width: 70%;
                    height: 60%;
                }
            }
            .card__text{
                text-align: center;
            }
        }
    

    }

    .promo__add-placas{
        display: flex;
        justify-content: center;
        margin-top:2%;

        img{
            width: 65%;
            height: 5rem;
            @media only screen and (max-width: 700px){
                width: 100%;
            }
        }
    }

    .produtos{
        // parte dos h4 de melhores produtos e marca 
        h4{
            display: flex;
            margin: 1% 0 0 3% ;
            margin-bottom: 2%;
        }
    }

    .d__flex-produtos{
        // flex da div produtos, trabalhando a responsividade da seção inteira 
        display: flex;
        gap: 2%;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin-bottom: 20rem;

        p{
            font-size: large;
            font-weight: 600;
        }

        .card__produtos{
        // configuração do card de produtos
        flex-wrap: wrap; 
        background-color: white;
        height: 13.5rem;
        width: 10vw;
        border-radius: 10px;
        overflow: hidden;
        transition: 0.5s ease-in-out;
            &:hover{
                height: 25rem;
            }
        }
    }

    .d__flex-preco{
        display: flex;
        justify-content: center;
    }
    .card__text-produtosOverflow{
            margin-top: 65px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    height: 10rem;
    align-items: center;
    }
    .card__img-produtos img{
        // medidas de imagens padronizadas se der bug olhem aq 
        height: 90px;
        width: 14vh;
        
    }
    .card__text-produtos{
        margin-top: 6%;
        
    }
    .d__flex-marcas{
        // responsividade das marcas 
        display: flex;
        justify-content: center;
        gap: 4rem;
    }
    .card__marcas{
        // configuração dos cards de marcas 
        background-color: white;
        height: 14vh;
        width: 13vh;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        width: 15vh;    
    }
    @media (min-width: 280px) and (max-width: 320px) {
        .d__flex-mostruario{
            flex-wrap: wrap;
            justify-content: center;
        }
        .card{
            font-size: 10px;
            margin: 0 11px 0 0;
        }
        .card__img{
            height: 20px;
            width: 40px;
            margin: 0 auto;
        }
        .card__img img{
            height: 19px;
        }
        .continuacao img{
            
            height: 13px;
        }
        .promo__add-placas img{
            height: 35px;   
        }
        .card__produtos{
            width: 18vh;
            height: 25vh;
        }
        .card__produtos input{
            font-size: 10px;
            margin-top: 1px;
        }
        .card__img-produtos img{
            height: 11vh;
            width: 16vh;
        }
        .card__text-produtos{
            font-size: 10px;
        }
        .card__text-produtosOverflow{
            margin-top: 55px;
        }
        .d__flex-marcas{
            flex-wrap: wrap;
            
        }
        .card__marcas{
            
            margin: 10px 0 0 10px;
            height: 10vh;
            width: 10vh
        }
        .card__marcas img{
            height: 5.5vh;
            justify-content: center;
            width: 8.5vh;
        }
    }
    @media (min-width: 320px) and (max-width: 480px) {
        .d__flex-mostruario{
            flex-wrap: wrap;
        }
        .card{
            font-size: 14px;
            margin: 0 10px 0 0;
        }
        .card__img{
            height: 35px;
            width: 55px;
            margin: 0 auto;
        }
        .card__img img{
            height: 29px;
        }
        .continuacao img{
            height: 13px;
            margin-top: 10px;
            margin-right: 5px;
        }
        .promo__add-placas img{
            height: 35px;   
        }
        .card__produtos{
            width: 21vh;
            height: 25vh;
        }
        .card__img-produtos img{
            height: 14vh;
            width: 18vh;
        }
        .card__produtos input{
            font-size: 13px;
            margin-top: 2px;
        }
        .card__text-produtos{
            font-size: 11px;
        }
        .card__text-produtosOverflow{
            margin-top: 30px;
        }
        .d__flex-marcas{
            flex-wrap: wrap;
        }

        .card__marcas{
            margin: 10px 0 10px 10px;
            height: 10vh;
            width: 15vh;
        }
        .card__marcas img{
            height: 7.5vh;
            justify-content: center;
            width: 9vh;
        }
    }
    @media (min-width: 481px) and (max-width: 768px) {
        .d__flex-mostruario{
            flex-wrap: wrap;
        }
        .card{
            font-size: 14px;
            margin: 0 10px 0 0;
        }
        .card__img{
            height: 35px;
            width: 45px;
            margin: 0 auto;
        }
        .card__img img{
            height: 25px;
        }
        .continuacao img{
            height: 15px;
            margin-top: 15px;
            margin-right: 10px;
        }
        .card__produtos{
            width: 24vh;
            height: 30vh;
        } 
        .card__img-produtos img{ 
            height: 18vh;
            width: 18vh;
        }
        .card__produtos input{
            font-size: 13px;
            margin-top: 3px;
        }
        .card__text-produtos{
            font-size: 11px;
        }
        .card__text-produtosOverflow{
            margin-top: 45px;
        }
        .d__flex-marcas{
            flex-wrap: wrap;
        }
        .card__marcas{
            
            margin: 10px 0 10px 10px;
            height: 10vh;
            width: 15vh;
        }
        .card__marcas img{
            height: 7.5vh;
            justify-content: center;
            width: 9vh;
        }
    }
    @media (min-width: 769px) and (max-width: 1024px) {
        .d__flex-mostruario{
            flex-wrap: wrap;
        }
        .card{
            font-size: 14px;
            margin: 0 10px 0 0;
        }
        .card__img{
            height: 35px;
            width: 55px;
            margin: 0 auto;
        }
        .card__img img{
            height: 29px;
        }
        .continuacao img{
            height: 15px;
            margin-top: 15px;
            margin-right: 10px;
        }
        .card__produtos{
            width: 25vh;
            height: 34vh;
        } 
        .card__img-produtos img{ 
            height: 16vh;
            width: 18vh;
        }
        .card__produtos input{
            font-size: 13px;
            margin-top: 3px;
        }
        .card__text-produtos{
            font-size: 18px;
        }
        .card__text-produtosOverflow{
            margin-top: 60px;
        }
        .d__flex-marcas{
            flex-wrap: wrap;
        }
        .card__marcas{ 
            margin: 10px 0 10px 10px;
            height: 10vh;
            width: 15vh;
        }
        .card__marcas img{
            height: 7.5vh;
            justify-content: center;
            width: 9vh;
        }
    }
    @media (min-width: 1025px) and (max-width: 1200px) {
        .d__flex-mostruario{
            flex-wrap: wrap;
        }
        .card{
            font-size: 18px;
            margin: 0 10px 0 0;
        }
        .card__img{
            height: 55px;
            width: 55px;
            margin: 0 auto;
        }
        .card__img img{
            height: 6.5vh;
        }
        .continuacao img{
            height: 25px;
            margin-top: 20px;
            margin-right: 15px;
        }
        .card__produtos{
            width: 35vh;
            height: 30vh;
        } 
        .card__img-produtos img{ 
            height: 14vh;
            width: 18vh;
        }
        .card__produtos input{
            font-size: 16px;
            margin-top: 3px;
        }
        .card__text-produtos{
            font-size: 18px;
        }
        .card__text-produtosOverflow{
            margin-top: 45px;
        }
        .d__flex-marcas{
            flex-wrap: wrap;
        }
        .card__marcas{
            margin: 10px 0 10px 10px;
            height: 10vh;
            width: 15vh;
        }
        .card__marcas img{
            height: 8.5vh;
            justify-content: center;
            width: 10vh;
        }
    }
}