@import '../abstract/variables';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

header {
        display: grid;
        grid-template-columns: repeat(3, auto) ;
        align-items: center;
        grid-template-rows: 1fr;
        background-color: #452E9F;
        height: 4.6875rem;

        ul{
          img{
            width: 2.5rem;
            height: 2.5rem;
          }
        }

        .logo {
            justify-content: center;
            @media only screen and (max-width:375px){
                p{
                    display: none;
                }
            }

            grid-column: 1/2;
            grid-row: 1/3;
            font-family: 'Just Me Again Down Here', cursive;
            display: flex;
            text-transform: uppercase;
            font-size: x-large;
            font-weight: bolder;

            img {
                width: 76px;
                height: 70px;
            }
        }

      .busca {
        display: flex;
        align-items: center;
        height: auto;
        grid-column: 2/3;
        width: 100%;

        input {
          border-radius: .3125rem;
          height: 1.875rem;
          background-color: #D9D9D9;
          outline: none;
          border: none;
          width: 90%;
          padding: .7rem;

          @media only screen and (max-width:768px){
            margin-right: .3125rem;
          }
        }

        button {
          width: 8%;
          height: 1.875rem;
          border: none;
          border-radius: .3125rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $roxo-do-site;
          margin-right: .9rem;
          @media only screen and (max-width:425px){
            margin-right: 40px;
          }
          img{
            width: auto;
            height: auto;

          }
        }
      }
      
      .logo img {
        width: 76px;
        height: 70px;
      }
      
      @media only screen and (max-width: 428px) {
        header .logo .p {
          display: none;
        }
      }
      
      .menu {
        list-style: none;
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        a {
          display: block;
          padding: 1rem;
          border-radius: 0.5rem;
      
          &:hover {
            background-color: #452E9F;
          }
        }
      }
      
      .btn-menu {
        display: none;
      }
      
      @media only screen and (max-width: 600px) {
        .menu {
          display: block;
          position: absolute;
          top: 4.6875rem;
          left: 0;
          background-color: #452E9F;
          text-align: center;
          width: 100%;
          height: 0;
          z-index: 1;
          visibility: hidden;
          overflow-y: hidden;
          transition: 0.5s;
      
          a {
            padding: 1rem 0;
            margin-inline: 1rem;
            border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
            border-radius: 0;
          }
        }
      
        .btn-menu {
          background: none;
          border: none;
          font: inherit;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          color: black;
          padding: 1rem 0;
          cursor: pointer;
        }
      
        .hamburger {
          border-top: 0.125rem solid;
          width: 1.25rem;
      
          &::after, &::before {
            content: " ";
            display: block;
            width: 1.25rem;
            height: 0.125rem;
            background: currentColor;
            margin-top: 0.3125rem;
            position: relative;
            transition: 0.3s;
          }
        }
      
        .nav.active {
          .menu {
            height: calc(100vh - 4.6875rem);
            visibility: visible;
            overflow-y: auto;
          }
      
          .hamburger {
            border-top-color: transparent;
      
            &::before {
              transform: rotate(135deg);
            }
      
            &::after {
              transform: rotate(-135deg);
              top: -0.4375rem;
            }
          }
        }
      }
}