.bodyShopcar{
    height: 100vh;
    width: 100vw;

    .container-shopCar{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 15% 1fr;

        h1{
            grid-row: 1/2;
            align-self: center;
            margin-left: 20rem;
            font-family: inter;
            @media only screen and (max-width:1315px){
                margin-left: 2rem;
            }
        }
        
        .hist-container{
            background-color: white;
            height: 90%;
            width: 75%;
            justify-self: center;
            display: grid;
            grid-template-columns: 1fr 18%;
            @media only screen and (max-width:1315px){
                width: 95%;
            }
            @media only screen and (max-width:920px){
                grid-template-columns: 1fr 25%;
            }

            aside{
                display: grid;
                grid-template-rows: 30% 30% 1fr;
                border-left: 6px solid $cor-da-borda;
                img{
                    justify-self: center;
                }

                .creditcard{
                    align-self: center;
                    grid-row: 1/2;
                }

                .pixIcon{
                    align-self: center;
                    grid-row: 2/3;
                }

                button{
                    grid-row: 3/4;
                    align-self: center;
                    justify-self: center;
                    height: 3rem;
                    width: 10rem;

                    @media only screen and (max-width:1300px){
                        width: 70%;
                    }
                }
            }

        }
    }
}